*{
    margin: 0%;
    padding: 0%;
}
.container{
    width: 1570px;
    height: 50px;
    background-color: goldenrod;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
    
}
nav ul{
    display: flex;
    gap:30px;
    list-style: none !important;
}
nav ul li a{
    
    text-decoration: none;
    color: white;
}
h2{
    color: white;
    font-weight: bold;
}
button{
    width:110px;
    height: 50px;
    padding: 5px;
    background-color:green;
    color: white;
    font-weight: bold;
    margin-right: 20px;
    border-radius: 5%;
}
.section{
    color:white;
    padding: 100px;
    background-color: black;
    height: 500px;
}
.btn{
    width: 200px;
    height: 60px;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    color: aliceblue;
    background-color: goldenrod;
    border: 2px solid black;
}
.btn:hover{
    background-color:white;
}
img{
    float: right;
    width: 500px;
    border: none;
    border-radius: 50%;
    height: 400px;
    
}